<% layout("public/layouts/boilerplate") %>
<div class="row">
  <div class="col-8">
    <h2>Edit your Listing</h2>
    <form
      action="/listings/<%= list._id %>?_method=put"
      method="post"
      novalidate
      enctype="multipart/form-data"
      class="needs-validation"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          value="<%= list.title %>"
          name="Listing[title]"
          class="form-control"
          id="title"
          required
        />
        <div class="valid-feedback">Data saved successfully!</div>
        <div class="invalid-feedback">Enter a valid data</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          name="Listing[description]"
          class="form-control"
          id="description"
          required
        >
    <%= list.description %></textarea
        >
        <div class="valid-feedback">Data saved successfully!</div>
        <div class="invalid-feedback">Enter a valid data</div>
      </div>

      <div class="mb-3">
        Original Image: <br />
        <img
          src="<%= originalImageUrl %>"
          style="
            width: 200px;
            height: 200px;
            border-radius: 20px;
            object-fit: cover;
          "
        />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image:</label>
        <input
          type="file"
          name="Listing[image][url]"
          class="form-control"
          id="image"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            value="<%= list.price %>"
            name="Listing[price]"
            class="form-control"
            id="price"
            required
          />
          <div class="valid-feedback">Data saved successfully!</div>
          <div class="invalid-feedback">Enter a valid data</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location:</label>
          <input
            type="text"
            value="<%= list.location %>"
            name="Listing[location]"
            class="form-control"
            id="location"
            required
          />
          <div class="valid-feedback">Data saved successfully!</div>
          <div class="invalid-feedback">Enter a valid data</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country:</label>
        <input
          type="text"
          value="<%= list.country %>"
          name="Listing[country]"
          class="form-control"
          id="country"
        />
        <div class="valid-feedback">Data saved successfully!</div>
        <div class="invalid-feedback">Enter a valid data</div>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category:</label>
        <select name="Listing[category]" id="category" class="form-select">
          <option value="" disabled selected>Choose a category</option>
          <option value="Beach">Beach</option>
          <option value="Hills">Hills</option>
          <option value="Desert">Desert</option>
          <option value="Historic">Historic</option>
          <option value="Culture">Culture</option>
          <option value="Adventure">Adventure</option>
          <option value="Wildlife">Wildlife</option>
          <option value="City">City</option>
          <option value="Rural">Rural</option>
          <option value="Winter">Winter</option>
          <option value="Wellness">Wellness</option>
          <option value="Food">Food</option>
          <option value="Cruise">Cruise</option>
          <option value="Festivals">Festivals</option>
          <option value="Luxury">Luxury</option>
          <option value="Budget">Budget</option>
          <option value="Road Trips">Road Trips</option>
        </select>
        <div class="valid-feedback">Category selected!</div>
        <div class="invalid-feedback">Please choose a category</div>
      </div>
      <button class="btn btn-dark mb-3">Add</button>
    </form>
  </div>
</div>
